{% extends 'base.html' %}

{% block styles %}
<style>
    body, html {
      height: 100%;
      background-color: #050607;
    }

    .messages-box {


      width: 100%;
    }

    .messages-list {
      padding-left: 0;
    }

    .message {
      margin-bottom: 15px;
      list-style: none;
    }

    .message-text {
      padding: 10px;
      border-radius: 5px;
      font-family: 'Times New Roman', Times, serif;
    }

    .sent {
      background-color: #dcf8c6;
      align-self: flex-end;
    }

    .received {
      background-color: #f1f0f0;
      align-self: flex-start;
    }
    .card{
      background-color: #4e565f;
    }
    .message-form {
      display: flex;
      align-items: center
      ;
      margin: auto;
      position: fixed;
      bottom: 0;
      width: 1300px;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #4c545d;
    }
    .card-header{
      background-color: #050607;
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
    }
    .message-input {
      flex: 1;
      border-radius: 0;
      border-right: none;
    }

    .btn-send {
      border-radius: 0;
    }

    .chat-container {
      height: 100%;
      display: flex;
      flex-direction: column;
     background-color: #050607;
    }
    .a{
      text-align: right;
    }
    .link-spacing{
        display: flex;
        flex-direction: row;
        height: 40px;
        justify-content: center;
        background-color: #050607;
        width: 100%;
        text-align: center;
        padding: 0 10px 0 0;
       }
       .link-spacing a {
    margin-right: 34px;
    margin-left: 34px;
}
.button-34 {
  background: #5E5DF0;
  border-radius: 99px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #0a0202;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 13px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.hello{
  background-color: #050607;
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
}

    
  </style>
{% endblock %}s
{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="card-header text-white"><h2>Welcome to Django Chatbot, Let's Chat!</h2></div>
    {% if user.is_authenticated %}
    <div class="hello"> <h4 style="text-align: left; color: white; padding: 10px; text-align: center;">Hello, {{user.username}} </h4>    <button class="button-62" role="button"><a style="color: rgb(1, 0, 0);" href="logout">Logout</a></button></div>
    {% else %}
    <div class="link link-spacing " style="padding: 0 10px 0 0"><button class="button-34" role="button"><a style="color: rgb(0, 0, 0)" href="login">Login</a></button> <button class="button-34" role="button"><a style="color: rgb(0, 0, 0);" href="register">Register</a></button></div>
    {% endif %}
    <div class="card-body messages-box">
      
      <ul class="list-unstyled messages-list">
        
        <!-- <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Hi {{user.username}}, I am your AI Chatbot, you can ask me anything.
            </div>
          </div>
        </li> -->

        {% for chat in chats %}
          {% if chat.user == request.user %}

            <li class="message sent">
          <div class="message-text">
            <div class="message-sender">
              <b>You</b>
            </div>
            <div class="message-content">
              {{chat.message}}
            </div>
          </div>
        </li>

        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              {{chat.response}}
            </div>
          </div>
        </li>

          {% endif %}
        {% endfor %}
        
      </ul>
      
    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Type your message...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Send</button>
      </div>
    </div>
  </form>
</div>

<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');

  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>You</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = '';

    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;
        messagesList.appendChild(messageItem);
      });
  });

</script>
{% endblock %}